.navbar{
  display: flex;
  justify-content: space-between;
  border:1px solid grey;
  border-radius: 2px;
  padding:10px;
  margin-bottom:20px;
}

.logo{
  width:80px;
  height: 80px;
  border-radius: 50%;
  cursor:pointer;
}

.items{
  display: flex;
  gap:60px;
  list-style-type: none;
  cursor:pointer;
}

li:hover{
  transform: scale(1.03);
  color:red;
}

.login-btn{
  height:26px;
  color:white;
  background-color: blue;
  border:1px;
  border-radius: 4px;
}

.login-btn:hover{
  background-color: rgb(79, 79, 248);
  cursor:pointer;
}

/*Search CSS*/
.search-food{
  display: flex;
}
.search-btn{
  padding:8px;
  margin:10px;
  font-size:14px;
}

.filter-btn{
  padding:8px;
  margin:10px;
  font-size:14px;
  cursor:pointer;
}




/* Card Component CSS*/

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  width: 200px;
  padding: 6px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.card:hover {
  border: 1px solid black;
}

.food-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.buy-btn{
  color:white;
  background-color: red;
  border:none;
  padding:6px;
  border-radius: 3px;
}

.buy-btn:hover{
  background-color: rgb(250, 43, 43);
  cursor: pointer;
}


.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.shimmer-card {
  width: 200px;
  height:300px;
  padding: 6px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.shimmer-card:hover {
  border: 1px solid black;
}